/* Cabeçalho */
header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
}

/* Titulo */
.titulo {
  font-size: 2rem;
  margin: 0;
}

/* Seção das arenas */
.Container_Arena {
  display: grid;
  grid-template-areas: "Arena1 Visu Arena2";
  justify-content: center;
  align-items: center;
  border: #000 1px solid;
  margin: 10px 0px 0 0;
  padding: 20px;
  gap: 20px;
  height: 300px;
}

/* Arenas */
.Arena {
  border-radius: 10px;
  width: 250px;
  height: 300px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  margin: 0 20px 0 20px;
}

/* Area de Visualizacao da batalha*/
.Visu {
  width: 400px;
  height: 100px;
  background-color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Seção dos cards */
.Container_Cards {
  border: #000 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
  padding: 20px;
}

/* Cards */
.Cards {
  width: 150px;
  height: 180px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: grab;
}
