/* Body */
body {
  font-family: "Press Start 2P", monospace;
  background-image: url(High_Peak_Castle.webp);
  background-repeat: no-repeat;
  background-size: cover; /* Cobre toda a tela */
  background-attachment: fixed; /* Fixa ao fundo mesmo com scroll */
  background-position: center center; /* Centraliza */
  image-rendering: pixelated;
  margin: 0;
  padding: 0;
}

/* Cabeçalho */
header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
}

/* Titulo */
.titulo {
  font-size: 2rem;
  margin: 0;
}

/* Seção das arenas */
.Container_Arena {
  display: grid;
  grid-template-areas: "Arena1 Visu Arena2";
  justify-content: center;
  align-items: center;
  border: #000 1px solid;
  margin: 10px 0px 0 0;
  padding: 20px;
  gap: 20px;
  height: 300px;
}

/* Arenas */
.Arena {
  border-radius: 10px;
  width: 250px;
  height: 300px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  margin: 0 20px 0 20px;
}

/* Area de Visualizacao da batalha*/
.Visu {
  width: 400px;
  height: 70px;
  background-color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Seção dos cards */
.Container_Cards {
  border: #000 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
  padding: 20px;
}

/* Cards */

.Card {
  width: 200px;
  height: 250px;
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid #000;
  cursor: grab;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  font-family: "Press Start 2P", monospace;
  font-size: 8px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.2),
    inset 0 0 10px rgba(255, 255, 255, 0.1);
}

.Card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.4),
    inset 0 0 15px rgba(255, 255, 255, 0.2);
}

.Card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  border-bottom: #aa1c52 2px solid;
}

.Card__content {
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Card__title {
  font-size: 14px;
  font-weight: bold;
  margin: 0.3rem 0;
  color: #3c3488;
}

.Card__type {
  font-size: 10px;
  color: #3c3488;
  margin-bottom: 0.5rem;
}

.Card__stats {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.3rem;
  border-top: 1px solid #3c3488;
  color: #f0e6ff;
}

.Card.boss {
  background: linear-gradient(#2c001e, #3e0033);
  border: 2px solid #aa1c52;
  box-shadow: 0 0 10px rgba(255, 0, 100, 0.3);
  color: #3c3488;
}

.Card.enemy {
  background: linear-gradient(#002222, #003333);
  border: 2px solid #00cccc;
  color: #ccf2f2;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
}

.Card.rampager {
  border-color: #22ffcc;
  box-shadow: 0 0 15px rgba(34, 255, 204, 0.3);
  color: #33ff99;
}
